<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="../" class="navbar-brand">
            <img class="d-inline-block mx-2" src="assets/img/logo_w.svg" alt="" width="50" height="50">
            <span class="d-none d-sm-inline">Metallurgiestudenten zu Freiberg e.V.</span>
            <span class="d-inline d-sm-none">Metallurgiestudenten</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/posts.html">Neuigkeiten</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about.html">Über uns</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/isdm.html">ISDM</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/impressum.html">Impressum</a>
                </li>
            </ul>
            <a class="btn btn-outline-white d-flex">Mitglied werden!</a>
        </div>
    </div>
</div>