<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet">
</head>
<body>
{% include navbar.html %}

<section class="container" id="content">
    {{ content }}
</section>

<footer class="container">
    <hr/>
    <div class="row">
        <div class="col-6">
            Metallurgiestudenten zu Freiberg e.V.<br/>
            c/o Institut für Eisen- und Stahltechnologie <br/>
            Leipziger Str. 34 <br/>
            09599 Freiberg <br/>
        </div>
        <div class="col-6 text-end">
            Metallurgiestudenten zu Freiberg e.V.<br/>
            c/o Institut für Eisen- und Stahltechnologie <br/>
            Leipziger Str. 34 <br/>
            09599 Freiberg <br/>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>